@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 25px;
  color: #fff;
}

body {
  min-height: 100vh;
  background-color: rgb(34, 34, 34);
}

.Register,
.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  padding: 1rem 0.5rem;
}

.registerSection {
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
  color: #000;
}

form label {
  color: #fff;
}

a {
  color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:not([disabled]):hover {
  background-color: #bfbfbf;
  color: #ffffff;
}

button[disabled]:hover {
  cursor: not-allowed;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions>svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  border-style: solid;
  border-color: red;
  border-width: 3px;
  border-radius: 12px;
  background-color: rgb(139, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.successmsg {
  border-style: solid;
  border-color: rgb(0, 255, 47);
  border-width: 3px;
  border-radius: 12px;
  background-color: rgb(0, 157, 47);
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.trustedCheck {
  font-size: 0.75rem;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.trustedCheck label {
  margin: 0;
}

[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin: 0 5px 2px 2px;
}

.react-confirm-alert-body button {
  width: 30%;
}

.react-confirm-alert-body {
  font-size: 20px;
}

.react-confirm-alert-body h1 {
  font-size: 30px;
}

.Rooms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  padding: 1rem 0.5rem;
}

.roomsSection {
  margin-bottom: 200px;
  border-radius: 20px;
  width: 50%;
  max-width: 50vw;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.roomsList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  padding-bottom: 1rem;
  color: #000;
}

.roomsList>button {
  color: #ffffff;
  background-color: #505050;
}

.roomsList>button:hover {
  color: #000000;
}

.RoomDetails {
  margin-top: 20px;
  margin-bottom: 20px;
}

.RoomEntries {
  display: flex;
  margin-top: -20px;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  padding: 1rem 0.5rem;
}

.entriesSection {
  margin-bottom: 180px;
  border-radius: 20px;
  width: 70%;
  max-width: 70vw;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.dt-layout-row {
  margin-bottom: 20px;
}

.dt-length>select,
.dt-search>input {
  height: 30px;
  font-size: 18px;
}

.dt-length>select>option {
  background-color: #000;
}

table,
th,
tr,
thead,
tbody td {
  border: 2px solid white;
}

th:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dt-column-order::before {
  margin-bottom: 8px;
}
